<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LayerDemo.Repository.Properties.Settings.SHOP_MDFConnectionString"
            connectionString="data source=127.0.0.1;initial catalog=SHOP.MDF;integrated security=false;persist security info=True;User ID=sa;Password=wangtinglu"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>